@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .animation {
        display: none;
    }
}

html{
	background: url("images/bg.jpg") no-repeat center center fixed;
	-webkits-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	padding:none;
	overflow-y: hidden;
}

body{
	position: relative;
}

h1{
	font-family: 'Raleway';
	font-weight: 200;
	font-size: 3em;
	color:#555555;
	margin: .5em 0 0 0;
	line-height: .9;
}
.main{
	padding-top: 10%;
}
.center {
  width: 100%;
	max-width: 475px;
  margin: 0 auto;
  border: .5em solid #fffff8;
  padding:2em 2em 1em 2em;
  text-align: center;
  line-height: 100%;
	overflow: hidden;
	background-color: #fffff8;
	opacity: .85;
	border-radius: 3px;
}

#headshot{
	display: block;
	margin: auto;
	border-radius: 50%;
	width:10em;
	height: 10em;

}

#description{
	text-align: center;
	margin: 2em 0;
	color: #555555;
	font-family: 'Raleway';
}

#links{
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
	margin: 0;
}

#links li{
	float: left;
	margin: 0 .25em;


}
a i{
	color:#555555;
	font-size: em;
	opacity: .5;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}
a i:hover{
	opacity: 1;
}
.animation{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

#emailForm input{
	width:100%;
	border:none;
	margin-bottom: 15px;
	color: #555555;
	border-bottom: 1px solid #555555;
}

#emailForm input:focus{
	outline:none;
	outline-bottom-color:#555555;
}

#emailForm textarea{
	display: block;
	width:100%;
	resize:none;
	height:100px;
	margin-bottom: 15px;
}

#emailForm textarea:focus{
	outline-color: #555555
}

#emailForm button{
	padding:7px 15px;
	border: 2px solid #555555;
	border-radius: 4px;
	background: none;
}

#emailForm p{
  text-align: left;
  padding: 7px;
  font-family: Arial;
}

#left{
	float:left;
}
#right{
	float:right;
}
