<html>
<head>
	<title>Cam White</title>
	<link rel="stylesheet" type="text/css" href="base.css">
	<link rel="stylesheet" type="text/css" href="font-awesome.min.css">

	<script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
	<script src="https://use.fontawesome.com/c17d82b499.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
</head>
<body>
<div id="app" class="main">


	<div v-show="!showEmail" class="center">

		<img id="headshot" src="images/hs.jpg"/>
		<h1>Cameron White</h1>
		<p id="description"> Hi, I'm a growing software developer and a Computer Science student at the University of Michigan. I like making things for people to use, going places I haven't been, and Reubens.</p>
		<ul id="links">
				<li><a target="_blank" href="https://www.linkedin.com/in/camwhite"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://github.com/whitec54"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://stackoverflow.com/users/6610245/cameron-white"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://medium.com/@cameronscwhite"><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a></li>
				<li><a @click="toggleEmail"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
		</ul>

	</div>


	<div id="emailForm" v-show="showEmail" class="center">


		<input v-model="name" placeholder="Name">
		<input v-model="email" placeholder="Email Address">
		<input v-model="subject" placeholder="Subject">

		<textarea v-model="body" placeholder="Message"> </textarea>
		<button v-show="!emailSent"id="left" @click="toggleEmail">back</button>
    <button v-show="emailSent" id="right" @click="toggleEmail">Back</button>
    <p v-show="emailSent">Email Sent!</p>
		<button v-show="!emailSent"id="right" @click="sendEmail">send</button>


	</div>
</div>
<script src="js/email.js"></script>
<script src="js/node.js"></script>

</body>
</html>
